<div class="footer-about">
	<div class="footer-about-inner">

		<div class="cta-careers">
			Already doing all this?<br>
			<a href="https://xwp.co/who-we-are/" class="button party-blue">Work with us</a>
		</div>

		<div class="license">
			<p>Last modified {{ page.updated }}<br>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/10up">@10up</a>, forked by <a href="https://xwp.co/">XWP</a>
				(<a href="https://github.com/10up/Engineering-Best-Practices/compare/gh-pages...xwp:gh-pages">changes</a>).
			</p>
		</div>
	</div>
</div>
<footer role="contentinfo">
	<div class="page-footer-content">
		<a href="https://xwp.co" class="logo-link">XWP</a>
		<nav class="page-nav expanded" role="navigation">
			<ul>
				<li><a href="https://xwp.co">XWP.Co</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="http://twitter.com/xwp" class="twitter"><span class="screen-reader-text">Twitter: @XWP</span></a>
				<a href="http://github.com/xwp" class="github"><span class="screen-reader-text">GitHub</span></a>
			</div>
		</nav>
	</div>
</footer>
